*{
    padding: 0;
    margin: 0;
}

@font-face{
font-family: 'pixelised';
src: url('./font/pixelised/pixelised.ttf');
}

body{
    font-family: 'pixelised';
    font-size: 40px;
    background-color: black;
    height :100vh;
    display: flex;
    justify-content: center;
    align-items: center; 
}

#wrapper{
    background-color: lightgray;
    width: 590px;
    border-style: ridge solid solid ridge;
    border-color: white;
    border-width: 10px;
    height:590px;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
}

.casesBox div{
    width: 70px;
    height: 70px;
    border-style: none dotted dotted none;
    border-width: 1px bold;
    background-color: darkturquoise;
}

/* .

    width: 70px;
    height: 70px;
}  
