*{
    padding: 0;
    margin: 0;
}

@font-face{
font-family: 'pixelised';
src: url('./font/pixelised/pixelised.ttf');
}

body{
    background: black;
    font-family: 'pixelised';
    font-size: 40px;
    width: 100%;
    height :100vh;
    display: flex;
    justify-content: center;
    align-items: center; 
}

#wrapper{
    cursor: crosshair;
    background-color: lightgray;
    border-style: ridge;
    border-color: lightgray;
    border-width: 15px;
    width: 584px;
    height: 584px;
    display: flex;
    flex-wrap: wrap;
}

div:not(.hiddenCase){
    width: 70px;
    height:70px;
    text-align: center;
    border-color: darkslategray;
    border-style: none dotted dotted none;
    display:flex;
    justify-content: center;
    align-items: center;
}

.one{
    color: #2F69FB;
}

.two{
    color: #429010;
}

.three{
    color: #F44728;
}

.hiddenCase{
    width: 70px;
    height:70px;
    text-align: center;
    border-style: none solid solid none;
    border-color: black; 
    box-shadow: inset 5px 5px 0px 0px #FFFFFF, inset -5px -5px 0px 0px #7F7F7F;
    display: flex;
}

/* Child Combnatinator : */
/* The direct child B ( ".empty" & ".pikaMine" here) of A (".hiddenCase" here)*/
/*  are focused, so I could remove my dotted border that I put on ".hiddentCase"  */
/* in reponse to "div:not(.hiddenCase) above" at line 34) */

.hiddenCase >.emptyCase, .hiddenCase >.pikaMine{ 
    border-style: hidden;                                                            
}    

.pikaMine:hover{
    background-image: url(./img/pikaMine.png);
    background-repeat: no-repeat;
    background-position: center; 
}

.hiddenCase >.emptyCase:hover{
    background-color: #7F7F7F;
    box-shadow: inset 5px 5px 0px 0px lightgrey, inset -5px -5px 0px 0px white;
}
