*{
    padding: 0;
    margin: 0;
}

@font-face{
font-family: 'pixelised';
src: url('./font/pixelised/pixelised.ttf');
}

body{
    background: black;
    font-family: 'pixelised';
    font-size: 40px;
    height :100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#wrapper{
    background-color: lightgray;
    border-style: ridge;
    border-color: lightgray;
    border-width: 15px;
    width: 584px;
    height: 584px;
    display: flex;
    flex-flow: row wrap;
}


.casesBox{
    border-color: darkslategray;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-basis: 0; 
}

div.three, .one, .two, .mine, .hiddenCase, .emptyCase{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    flex-basis: 0; 
}

.casesBox div:not(.hiddenCase){
    border-style: none dotted dotted none;
    border-color: #000000;
} 


.one{
    
    color: #2F69FB;
}

.two{
    
    align-items:center;
    color: #429010;
}

.three{
   
   
    color: #F44728;
}

.hiddenCase{
   border-style: outset outset outset outset;
   border-color : white black black white;
}

.hiddenCase:hover{
    background-color: #7F7F7F;
}



